:root{
    --button-color: rgb(219, 155, 15);
    --button-color_active: rgb(245, 194, 84);
}

body{
    background-color: white;
    margin: 0 auto;
}

.header{

}

menu{
    text-align: center;
}
.Menuitem {
    padding: 16px 22px;
    background: var(--button-color);
    margin: 0 autp;
    display: inline-block;
    text-align: center;
}

.Menuitem:hover {
    background: var(--button-color_active);
}

